credentials
.env
*.env
**/.env
**/*.env
develop.tfvars
production.tfvars
.terraform/*
.terraform
*.pem
**/terraform.tfstate
**/terraform.tfstate.backup
**/dev.tfvars
**/node_modules
**/package-lock.json
**/yarn.lock
**/dist
**/backend.tf
.terraform.lock.hcl